In [1]:
import requests 
from bs4 import BeautifulSoup 
import re 
import datetime

In [2]:
def items_links(page):

    res = requests.get(page)
    soup = BeautifulSoup(res.content, "html.parser")

    linkByAges = {}

    for age in [20, 30, 40, 50]:
        item_age = soup.select_one(r".item_age.item_{}s".format(age))
        
        if not item_age:
            continue

        female_links = [item["href"] for item in item_age.select_one('.rank_female').select("a")]
        male_links = [item["href"] for item in item_age.select_one('.rank_male').select("a")]

        linkByAges[age] = [female_links, male_links]

    return linkByAges

def contentsInArticle(link):
    res = requests.get(link)
    soup = BeautifulSoup(res.content, 'html.parser')
    try :
        title = soup.select_one("h3").text.strip()
    except : 
        title = "None"
        
    try: 
        content = soup.select_one("section").text.strip()
    except :
        content = "None"
    
    return title, content

In [3]:
dates = []
title = []
body = []
age_sex = []

start_day = datetime.datetime.now()# - datetime.timedelta(days=113)

In [4]:
for i in range(365): 
    
    date = start_day - datetime.timedelta(days=i)
    date = date.strftime('%Y%m%d')
    
    page = "https://media.daum.net/ranking/age/?regDate={}".format(date)
    
    print("date : {} started".format(date))    
    # Links for the day by ages and sex
    elements = []
    
    linkByAges = items_links(page)
    
    for age in linkByAges.keys():
        
        female = linkByAges[age][0]
        male = linkByAges[age][1]
        
        female_elem = [contentsInArticle(link) for link in female]
        male_elem = [contentsInArticle(link) for link in male]
        
        for fe in female_elem:
            """fe : [title, body]"""
            
            dates.append(date)
            title.append(fe[0])
            body.append(fe[1])
            age_sex.append(str(age) + "&" + "female")
            
            
        for ma in male_elem:
            
            dates.append(date)
            title.append(ma[0])
            body.append(ma[1])
            age_sex.append(str(age) + "&" + "male")

    print("date : {} done \n".format(date))

date : 20191017 started
date : 20191017 done

date : 20191016 started
date : 20191016 done

date : 20191015 started
date : 20191015 done

date : 20191014 started
date : 20191014 done

date : 20191013 started
date : 20191013 done

date : 20191012 started
date : 20191012 done

date : 20191011 started
date : 20191011 done

date : 20191010 started
date : 20191010 done

date : 20191009 started
date : 20191009 done

date : 20191008 started
date : 20191008 done

date : 20191007 started
date : 20191007 done

date : 20191006 started
date : 20191006 done

date : 20191005 started
date : 20191005 done

date : 20191004 started
date : 20191004 done

date : 20191003 started
date : 20191003 done

date : 20191002 started
date : 20191002 done

date : 20191001 started
date : 20191001 done

date : 20190930 started
date : 20190930 done

date : 20190929 started
date : 20190929 done

date : 20190928 started
date : 20190928 done

date : 20190927 started
date : 20190927 done

date : 20190926 started
date : 20190926 done

date : 20190925 started
date : 20190925 done

date : 20190924 started
date : 20190924 done

date : 20190923 started
date : 20190923 done

date : 20190922 started
date : 20190922 done

date : 20190921 started
date : 20190921 done

date : 20190920 started
date : 20190920 done

date : 20190919 started
date : 20190919 done

date : 20190918 started
date : 20190918 done

date : 20190917 started
date : 20190917 done

date : 20190916 started
date : 20190916 done

date : 20190915 started
date : 20190915 done

date : 20190914 started
date : 20190914 done

date : 20190913 started
date : 20190913 done

date : 20190912 started
date : 20190912 done

date : 20190911 started
date : 20190911 done

date : 20190910 started
date : 20190910 done

date : 20190909 started
date : 20190909 done

date : 20190908 started
date : 20190908 done

date : 20190907 started
date : 20190907 done

date : 20190906 started
date : 20190906 done

date : 20190905 started
date : 20190905 done

date : 20190904 started
date : 20190904 done

date : 20190903 started
date : 20190903 done

date : 20190902 started
date : 20190902 done

date : 20190901 started
date : 20190901 done

date : 20190831 started
date : 20190831 done

date : 20190830 started
date : 20190830 done

date : 20190829 started
date : 20190829 done

date : 20190828 started
date : 20190828 done

date : 20190827 started
date : 20190827 done

date : 20190826 started
date : 20190826 done

date : 20190825 started
date : 20190825 done

date : 20190824 started
date : 20190824 done

date : 20190823 started
date : 20190823 done

date : 20190822 started
date : 20190822 done

date : 20190821 started
date : 20190821 done

date : 20190820 started
date : 20190820 done

date : 20190819 started
date : 20190819 done

date : 20190818 started
date : 20190818 done

date : 20190817 started
date : 20190817 done

date : 20190816 started
date : 20190816 done

date : 20190815 started
date : 20190815 done

date : 20190814 started
date : 20190814 done

date : 20190813 started
date : 20190813 done

date : 20190812 started
date : 20190812 done

date : 20190811 started
date : 20190811 done

date : 20190810 started
date : 20190810 done

date : 20190809 started
date : 20190809 done

date : 20190808 started
date : 20190808 done

date : 20190807 started
date : 20190807 done

date : 20190806 started
date : 20190806 done

date : 20190805 started
date : 20190805 done

date : 20190804 started
date : 20190804 done

date : 20190803 started
date : 20190803 done

date : 20190802 started
date : 20190802 done

date : 20190801 started
date : 20190801 done

date : 20190731 started
date : 20190731 done

date : 20190730 started
date : 20190730 done

date : 20190729 started
date : 20190729 done

date : 20190728 started
date : 20190728 done

date : 20190727 started
date : 20190727 done

date : 20190726 started
date : 20190726 done

date : 20190725 started
date : 20190725 done

date : 20190724 started
date : 20190724 done

date : 20190723 started
date : 20190723 done

date : 20190722 started
date : 20190722 done

date : 20190721 started
date : 20190721 done

date : 20190720 started
date : 20190720 done

date : 20190719 started
date : 20190719 done

date : 20190718 started
date : 20190718 done

date : 20190717 started
date : 20190717 done

date : 20190716 started
date : 20190716 done

date : 20190715 started
date : 20190715 done

date : 20190714 started
date : 20190714 done

date : 20190713 started
date : 20190713 done

date : 20190712 started
date : 20190712 done

date : 20190711 started
date : 20190711 done

date : 20190710 started
date : 20190710 done

In [5]:
# results = pd.DataFrame(columns=["date", "Title", "Body", "age_sex"])
results = pd.DataFrame({"date": dates, "Title" : title, "Body" : body, "age_sex" : age_sex})
results.tail(10)

,date,Title,Body,age_sex
3990,20190710,"고유정 눈물vs현 남편 분노..의붓아들 죽음, 결국 대질조사","""고유정이 아들을 죽였다""고 검찰에 고소한 현남편과 고유정. [중앙포토]\n ...",50&female
3991,20190710,"80대 노인, 50대 아들 둔기로 살해하고 음독..병원이송(종합)",범죄 수사 (PG) [정연주 제작] 일러스트\n \n\n(광주=연합...,50&female
3992,20190710,"""천사같던 반려견 수목장했는데.."" 장례업체의 '배째라' 영업",경기도 시흥의 한 무허가 장례업체에서 수목장된 반려동물들. 이 반려동물들은 업체의 ...,50&female
3993,20190710,"[르포]텅텅 빈 보신탕집, 손님 꽉 찬 마라탕집..확 달라진 초복 풍경(종합)",동대문역 인근 한 보신탕집은 최근 메뉴를 변경하고 보신탕 판매를 중단했다.\n ...,50&female
3994,20190710,"언론단체 ""SBS, 김성준 전 앵커 사표수리는 꼬리자르기 불과"" 비판",김성준 전 SBS 앵커. 방송화면 갈무리.\n \n\n<에스비에스>...,50&female
3995,20190710,위증으로 역전된 '윤석열 검증'..한국·바른미래 공조 카드는,윤석열 검찰총장 후보자가 8일 국회에서 열린 국회 인사청문회에서 선서를 하고 있다....,50&male
3996,20190710,"고승덕 부부, 이촌파출소 건물도 사들여..용산구 매입 부담 커져",서울 용산구 이촌파출소 [연합뉴스 자료 사진]\n \n\n(서울=연...,50&male
3997,20190710,"박지원 ""조국, 법무장관 100% 기용될 것..윤석열, 임명돼야""",【서울=뉴시스】 박영태 기자 = 8일 오전 서울 여의도 국회에서 열린 검찰총장후보자...,50&male
3998,20190710,"""트럼프가 놔두겠나""..日 '횡포' 일주일, 초조감 속 낙관론도","""트럼프가 놔두겠나""…日 '횡포' 일주일, 초조감 속 낙관론도 (CG) [연합뉴스T...",50&male
3999,20190710,가공할 '포토레지스트'..삼성 경쟁 대만업체 6500억 날려,대만의 반도체 파운드리(위탁생산) 업체 TSMC 공장 전경(TSMC 제공) © Ne...,50&male

In [7]:
import pickle 

with open("./article_202001.bin", "wb") as f :
    
    pickle.dump(results, f)